### `Steps to do in GUI:`
* Click on the datasets folder
* Click on the available excel file `company_revenue.xlsx`

<b> This is a dataset of top ten companies by revenue, source: yahoo finance

### Importing the library

In [1]:
import openpyxl

### Loading excel documents with Openpyxl

The `openpyxl.load_workbook()` takes in the filename and returns a value of the workbook data type

In [2]:
work_book = openpyxl.load_workbook('datasets/company_revenue.xlsx')

### Printing the name of the sheets from workbook

In [3]:
work_book.sheetnames

['revenue']

In [4]:
work_book.worksheets

### Creating a sheet object of the the 'revenue'

In [5]:
sheet_obj = work_book['Revenue']

In [6]:
sheet_obj.title

'revenue'

## Getting cells from the sheets

In [7]:
sheet_obj['A1']

In [8]:
sheet_obj['A1'].value

'Company'

### `Steps to do in GUI`: Show the excel file to verify the value of the `A1` cell

### Creating a object of the cell `B1`

In [9]:
cell = sheet_obj['B1']

### Checking type of the object

In [10]:
type(cell)

openpyxl.cell.cell.Cell

### Invoke the `dir` function on it to see the attributes available

In [11]:
dir(cell)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind_value',
 '_comment',
 '_hyperlink',
 '_infer_value',
 '_style',
 '_value',
 'alignment',
 'base_date',
 'border',
 'check_error',
 'check_string',
 'col_idx',
 'column',
 'column_letter',
 'comment',
 'coordinate',
 'data_type',
 'encoding',
 'fill',
 'font',
 'guess_types',
 'has_style',
 'hyperlink',
 'internal_value',
 'is_date',
 'number_format',
 'offset',
 'parent',
 'pivotButton',
 'protection',
 'quotePrefix',
 'row',
 'set_explicit_value',
 'style',
 'style_id',
 'value']

### The `row` attribute returns the row number of the cell

In [12]:
cell.row

1

### Similarly `column` attribute returns the column number of the cell

In [13]:
cell.column

2

### Checking the number format

In [14]:
cell.number_format

'General'

`output`: 'General' is a number format in excel

### Coordinate attribute shows the position of the column

In [15]:
cell.coordinate

'B1'

### It returns the datatype of the cell value

In [16]:
cell.data_type

's'

<b> `output`: It returns `s` that denotes string </b>

### Printing the value of the cell

In [17]:
cell.value

'Country'

### `Steps to do in GUI`: Show the excel file to verify the value of the `B1` cell is string

### Showing a general use of the attribute `value`

In [18]:
sheet_obj['A2'].value +\
', based in '+ sheet_obj['B2'].value + \
' has a revenue of  $' + str(sheet_obj['C2'].value) +\
' billion'

'Walmart, based in United States has a revenue of  $514 billion'

### From the `cell()` function the cell can be accessed

In [19]:
sheet_obj.cell(row=1, column=2)

In [20]:
sheet_obj.cell(row=1, column=2).value

'Country'

### We can determine the maximum number of row and column that is available in our worksheet

In [21]:
sheet_obj.max_row

11

In [22]:
sheet_obj.max_column

3

### Print all the columns name

In [23]:
max_col = sheet_obj.max_column

In [24]:
for i in range(1, max_col + 1): 
    
    cell_obj = sheet_obj.cell(row = 1, column = i) 
    
    print(cell_obj.value)

Company
Country
Revenue (billion $)

### Print first column value

In [25]:
max_row = sheet_obj.max_row

In [26]:
for i in range(1, max_row + 1): 
    
    cell_obj = sheet_obj.cell(row = i, column = 1) 
    
    print(cell_obj.value)

Company
Walmart
Sinopec Group
Royal Dutch Shell
China National Petroleum
State Grid
Saudi Aramco
BP
Exxon Mobil
Volkswagen
Toyota Motors

## Getting rows and column values through slicing

In [27]:
sheet_obj['A1':'C2']

((<Cell 'revenue'.A1>, <Cell 'revenue'.B1>, <Cell 'revenue'.C1>),
 (<Cell 'revenue'.A2>, <Cell 'revenue'.B2>, <Cell 'revenue'.C2>))

<b> `output`: As output we are getting tuple of tuples, one tuple for each row. This gives whole rectangular area as ouput containing all the cells from `A1` to `C2` </b>

### Looping over the rows of the thats been sliced, again looping over the cells of the rows

In [28]:
for rows in sheet_obj['A1':'C2']:
    
    for cell in rows:
        
        print(cell.coordinate, cell.value)
        
    print('-----------------------')

A1 Company
B1 Country
C1 Revenue (billion $)
-----------------------
A2 Walmart
B2 United States
C2 514
-----------------------

<b> `output`: Each nested tuples are being printed separately </b>

### We can also use `Worksheet.iter_rows()` or `Worksheet.iter_cols()` method to access the values

In [29]:
for row in sheet_obj.iter_rows(min_row=1,
                               max_row=2,
                               min_col=1,
                               max_col=3):
    print(row)

(<Cell 'revenue'.A1>, <Cell 'revenue'.B1>, <Cell 'revenue'.C1>)
(<Cell 'revenue'.A2>, <Cell 'revenue'.B2>, <Cell 'revenue'.C2>)

### `values_only=True` only returns the values of the cells

In [30]:
for value in sheet_obj.iter_rows(min_row=1,
                                 max_row=2,
                                 min_col=1,
                                 max_col=3,
                                 values_only=True):
    print(value)

('Company', 'Country', 'Revenue (billion $)')
('Walmart', 'United States', 514)

#### `output`: when iterating through the rows using `iter_rows()`, we get one tuple element per row selected.

In [31]:
for column in sheet_obj.iter_cols(min_row=1,
                                 max_row=3,
                                 min_col=1,
                                 max_col=3,
                                 values_only=True):
    print(column)

('Company', 'Walmart', 'Sinopec Group')
('Country', 'United States', 'China')
('Revenue (billion $)', 514, 415)

#### `output`: when iterating through the columns using `iter_cols()` and iterating through columns, weâ€™ll get one tuple per column instead.
* Company, Wallmart makes a tupple and from same column

## Putting data into a dictionary

In [32]:
import json

In [33]:
revenues = {}

In [34]:
for row in sheet_obj.iter_rows(min_row=2,
                                  max_row=4,
                                  min_col=1,
                                  max_col=3,
                                  values_only=True):
    
    rep = row[0]
    
    rev_details = {
        
        "Country": row[1],
        "Revenue": row[2],
    }
    
    revenues[rep] = rev_details

In [35]:
print(json.dumps(revenues, indent=4, sort_keys=True))

{
    "Royal Dutch Shell": {
        "Country": "Netherlands",
        "Revenue": 397
    },
    "Sinopec Group": {
        "Country": "China",
        "Revenue": 415
    },
    "Walmart": {
        "Country": "United States",
        "Revenue": 514
    }
}