In [2]:
import pandas as pd

In [5]:
#lista de numeros
lista_numeros=[3,4,7,2,9]

In [6]:
serie_numeros=pd.Series(lista_numeros)

In [7]:
serie_numeros

0    3
1    4
2    7
3    2
4    9
dtype: int64

In [8]:
#indexación del elemento
serie_numeros[1]

4

In [11]:
#varios índices para la lista de serie de numeros
varios_indices=[0,3,4]

In [12]:
serie_numeros[varios_indices]

0    3
3    2
4    9
dtype: int64

In [15]:
# con esto se muestra de la lista los elementos sin dar un indice numerico solo dando un boolenano
varios_indices_boolean=[True,False,False,True,False]

In [16]:
serie_numeros[varios_indices_boolean]

0    3
3    2
dtype: int64

In [18]:
#Range index la lectura comeniza start finaliza en stop cada 1 paso
serie_numeros.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
#cambiar los indices numericos por letras
serie_numeros.index=['a','b','c','d','e',]

In [20]:
serie_numeros

a    3
b    4
c    7
d    2
e    9
dtype: int64

In [22]:
serie_numeros[['b','c']] # nota de esta forma se llama a la fila

b    4
c    7
dtype: int64

In [3]:
diccionario_data={'a':3,'b':4,'c':7,'d':2,'e':9,}

In [26]:
series_diccionario=pd.Series(diccionario_data)
series_diccionario.name='Series desde diccionario'
series_diccionario

a    3
b    4
c    7
d    2
e    9
Name: Series desde diccionario, dtype: int64

In [4]:
#instanciando columnas a panda
columna_1=pd.Series([1,2,3,4,5])
columna_2=pd.Series([1,3,5,7,9])

In [31]:
#chequear que elementos estan dentro de las series, serie tipo booleana
columna_1.isin(columna_2)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [32]:
#imprimir la serie de elementos comunes de la columna 1 usando booleanos
columna_1[columna_1.isin(columna_2)]

0    1
2    3
4    5
dtype: int64

In [33]:
#no inculidos a los identicos de la columna 2 negacion de booleanos
columna_1[~columna_1.isin(columna_2)]

1    2
3    4
dtype: int64

In [ ]:
#Let’s say you have two pandas series called “one” and “two” and you want to print all those values in “one” that are also there in “two”.
#Then which of these commands would you use to do so?
#two[two.isin(one)]
#one[one.isin(two)]

In [35]:
elevar_cuadrado_c1= columna_1.map(lambda x:x*x)
elevar_cuadrado_c1

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [37]:
#suma 2 columnas elemento a elemento
suma_2_columnas=columna_1.add(columna_2)
suma_2_columnas

0     2
1     5
2     8
3    11
4    14
dtype: int64

In [38]:
#cambiar tipo de dato
columna_1.astype('float64')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [5]:
#anadir 2 columnas ojo indice diferente
anexar_2_columnas=pd.concat([columna_1,columna_2])
anexar_2_columnas

0    1
1    2
2    3
3    4
4    5
0    1
1    3
2    5
3    7
4    9
dtype: int64

In [6]:
anexar_2_columnas=pd.concat([columna_1,columna_2],ignore_index=True)
anexar_2_columnas

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [43]:
#pierde las fila del indice 8
anexar_2_columnas.drop(8)

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
9    9
dtype: int64

In [44]:
#elimina varios elementos
anexar_2_columnas.drop(labels= [5,7])

0    1
1    2
2    3
3    4
4    5
6    3
8    7
9    9
dtype: int64

In [7]:
#contar elementos
anexar_2_columnas.count()

10

In [9]:
#cantidad de valores únicos
anexar_2_columnas.nunique()

7

In [10]:
#desplegar valores únicos
anexar_2_columnas.unique()

array([1, 2, 3, 4, 5, 7, 9], dtype=int64)

In [11]:
#ordenamiento de datos
anexar_2_columnas.sort_values()

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [13]:
#ordenamiento de datos implace, ordenados directamente en la serie
anexar_2_columnas.sort_values(inplace=True)
anexar_2_columnas

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [15]:
#reset de index de la serie #dataframe
anexar_2_columnas.reset_index()

   index  0
0      0  1
1      5  1
2      1  2
3      2  3
4      6  3
5      3  4
6      4  5
7      7  5
8      8  7
9      9  9

In [16]:
#reset de index de la serie #dataframe borrar indices originales
anexar_2_columnas.reset_index(drop=True)

0    1
1    1
2    2
3    3
4    3
5    4
6    5
7    5
8    7
9    9
dtype: int64