In [1]:
!pip install pandas --upgrade

Requirement already up-to-date: pandas in /Users/kishan/anaconda3/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas) (1.15.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas) (2.6.1)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas) (2018.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.4'

#### Pandas Series

In [4]:
list_of_nums = [3, 4, 7, 2, 9]

In [5]:
series_of_nums = pd.Series(list_of_nums)

In [6]:
series_of_nums

0    3
1    4
2    7
3    2
4    9
dtype: int64

In [7]:
series_of_nums[1]

4

In [8]:
index_mask = [0, 3, 4]

In [9]:
series_of_nums[index_mask]

0    3
3    2
4    9
dtype: int64

In [10]:
boolean_mask = [True, False, False, True, False]

In [11]:
series_of_nums[boolean_mask]

0    3
3    2
dtype: int64

In [12]:
series_of_nums.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
series_of_nums.index = ['a', 'b', 'c', 'd', 'e']

In [14]:
series_of_nums

a    3
b    4
c    7
d    2
e    9
dtype: int64

In [15]:
series_of_nums['b']

4

In [16]:
series_of_nums[['b', 'c']]

b    4
c    7
dtype: int64

In [17]:
dict_of_data = {'a': 3, 
                'b': 4, 
                'c': 7, 
                'd': 2, 
                'e': 9}

In [18]:
series_from_dict = pd.Series(dict_of_data)
series_from_dict

a    3
b    4
c    7
d    2
e    9
dtype: int64

In [19]:
series_from_dict.name = 'Series from Dictionary'

In [20]:
series_from_dict

a    3
b    4
c    7
d    2
e    9
Name: Series from Dictionary, dtype: int64

In [21]:
series_one = pd.Series([1, 2, 3, 4, 5])

series_two = pd.Series([1, 3, 5, 7, 9])

In [22]:
series_one.isin(series_two)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [23]:
series_one[series_one.isin(series_two)]

0    1
2    3
4    5
dtype: int64

In [24]:
series_one[~series_one.isin(series_two)]

1    2
3    4
dtype: int64

In [25]:
series_squares = series_one.map(lambda x: x*x)

series_squares

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [26]:
series_one.add(series_two)

0     2
1     5
2     8
3    11
4    14
dtype: int64

In [27]:
series_one

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
series_one.astype('float64')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [29]:
series_one.append(series_two)

0    1
1    2
2    3
3    4
4    5
0    1
1    3
2    5
3    7
4    9
dtype: int64

In [30]:
appended_series = series_one.append(series_two, 
                                    ignore_index = True)

appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [31]:
appended_series.drop(8)

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
9    9
dtype: int64

In [32]:
appended_series.drop(labels = [5, 7])

0    1
1    2
2    3
3    4
4    5
6    3
8    7
9    9
dtype: int64

In [33]:
appended_series.count()

10

In [34]:
appended_series.nunique()

7

In [35]:
appended_series.unique()

array([1, 2, 3, 4, 5, 7, 9])

In [36]:
appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [37]:
appended_series.sort_values()

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [38]:
appended_series.sort_values()

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [39]:
appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [40]:
appended_series.sort_values(inplace = True)

appended_series

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [41]:
appended_series.reset_index()

   index  0
0      0  1
1      5  1
2      1  2
3      2  3
4      6  3
5      3  4
6      4  5
7      7  5
8      8  7
9      9  9

In [42]:
appended_series.reset_index(drop = True)

0    1
1    1
2    2
3    3
4    3
5    4
6    5
7    5
8    7
9    9
dtype: int64