In [1]:
import pandas as pd

In [6]:
requeridas_cols = ['Country','Population','Coastline (coast/area ratio)','GDP ($ per capita)','Literacy (%)','Birthrate']

In [7]:
paises= pd.read_csv('datasets/countries_of_the_world.csv', usecols=requeridas_cols, decimal=',')

In [14]:
#cambio de nombre de columnas
paises.rename(columns={'GDP ($ per capita)':'PerCapitaGDP'},inplace=True)

In [17]:
paises.rename(columns={'Coastline (coast/area ratio)':'CoastLineAreaRadio','Literacy (%)':'LiteracyRate'},inplace=True)

In [18]:
paises.head()

,Country,Population,CoastLineAreaRadio,PerCapitaGDP,LiteracyRate,Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [19]:
#saber si hay alguno sin llenar o null
paises['Population'].isna().sum()

0

In [22]:
#operacion matematica con la columna
poblacion_mundial = paises['Population'].sum()
poblacion_mundial

6524044551

In [23]:
#saber si hay alguno sin llenar o null en todo el dataframe
paises.isna().sum()

Country                0
Population             0
CoastLineAreaRadio     0
PerCapitaGDP           1
LiteracyRate          18
Birthrate              3
dtype: int64

In [54]:
#limpiar filas de datos faltates
paises=paises.dropna()

In [55]:
paises.shape

(207, 6)

In [56]:
paises.LiteracyRate.min()

17.6

In [27]:
paises.LiteracyRate.max()

100.0

In [28]:
#regresa el inice del max min
paises.LiteracyRate.idxmin()

151

In [57]:
paises['Country'][paises.LiteracyRate.idxmin()]

'Niger '

In [36]:
paises.LiteracyRate.idxmax()

100.0

In [58]:
#comprovacion de los que tienen la maxima taza para datos repetidos
paises[paises['LiteracyRate']==paises.LiteracyRate.max()]

,Country,Population,CoastLineAreaRadio,PerCapitaGDP,LiteracyRate,Birthrate
4,Andorra,71201,0.00,19000.0,100.0,8.71
11,Australia,20264082,0.34,29000.0,100.0,12.14
54,Denmark,5450661,16.97,31100.0,100.0,11.13
68,Finland,5231372,0.37,27400.0,100.0,10.45
119,Liechtenstein,33987,0.00,25000.0,100.0,10.21
121,Luxembourg,474413,0.00,55100.0,100.0,11.94
154,Norway,4610820,7.77,37800.0,100.0,11.46

In [41]:
# calculos estadisticos
#media/promedio average
paises.LiteracyRate.mean()
#mediana
paises.LiteracyRate.median()
#desviacion estandar
paises.LiteracyRate.std()
#media percentil
paises.LiteracyRate.quantile(0.5)

92.5

In [42]:
paises.LiteracyRate.quantile([0.25, 0.5, 0.75])

0.25    72.4
0.50    92.5
0.75    98.0
Name: LiteracyRate, dtype: float64

In [59]:
#estadisticas rapidas
paises.describe()

,Population,CoastLineAreaRadio,PerCapitaGDP,LiteracyRate,Birthrate
count,2.070000e+02,207.000000,207.000000,207.000000,207.000000
mean,3.138708e+07,18.773043,9675.362319,82.947826,22.312802
std,1.231555e+08,73.449820,10170.021706,19.672123,11.188104
min,7.026000e+03,0.000000,500.000000,17.600000,7.290000
25%,7.329150e+05,0.100000,1900.000000,72.400000,12.835000
50%,5.900754e+06,0.700000,5500.000000,92.500000,18.900000
75%,2.024316e+07,7.415000,14700.000000,98.000000,29.770000
max,1.313974e+09,870.660000,55100.000000,100.000000,50.730000

In [44]:
#modo
paises.LiteracyRate.mode()

0    99.0
Name: LiteracyRate, dtype: float64

In [45]:
#sesgo
paises.LiteracyRate.skew()

-1.233903412331758

In [46]:
#curtosis
paises.LiteracyRate.kurtosis()

0.4147343707691684

In [48]:
#correlacion entre columnas
paises[['CoastLineAreaRadio','PerCapitaGDP']].corr()

                    CoastLineAreaRadio  PerCapitaGDP
CoastLineAreaRadio            1.000000      0.048052
PerCapitaGDP                  0.048052      1.000000

In [49]:
#correlacion entre columnas
paises[['LiteracyRate','PerCapitaGDP']].corr()

              LiteracyRate  PerCapitaGDP
LiteracyRate      1.000000      0.515122
PerCapitaGDP      0.515122      1.000000

In [50]:
#correlacion entre columnas
paises[['Birthrate','PerCapitaGDP']].corr()

              Birthrate  PerCapitaGDP
Birthrate      1.000000     -0.642601
PerCapitaGDP  -0.642601      1.000000

In [61]:
#correlacion dataframe
#paises.corr()
paises[['Population',	'CoastLineAreaRadio',	'PerCapitaGDP',	'LiteracyRate',	'Birthrate']].corr()

,Population,CoastLineAreaRadio,PerCapitaGDP,LiteracyRate,Birthrate
Population,1.000000,-0.061882,-0.039922,-0.045429,-0.051190
CoastLineAreaRadio,-0.061882,1.000000,0.048052,0.121786,-0.075255
PerCapitaGDP,-0.039922,0.048052,1.000000,0.515122,-0.642601
LiteracyRate,-0.045429,0.121786,0.515122,1.000000,-0.790846
Birthrate,-0.051190,-0.075255,-0.642601,-0.790846,1.000000

In [62]:
#covarianza
#paises.cov()

paises[['Population',	'CoastLineAreaRadio',	'PerCapitaGDP',	'LiteracyRate',	'Birthrate']].cov()

,Population,CoastLineAreaRadio,PerCapitaGDP,LiteracyRate,Birthrate
Population,1.516727e+16,-5.597718e+08,-5.000204e+10,-1.100619e+08,-7.053309e+07
CoastLineAreaRadio,-5.597718e+08,5.394876e+03,3.589389e+04,1.759706e+02,-6.184219e+01
PerCapitaGDP,-5.000204e+10,3.589389e+04,1.034293e+08,1.030583e+05,-7.311728e+04
LiteracyRate,-1.100619e+08,1.759706e+02,1.030583e+05,3.869924e+02,-1.740603e+02
Birthrate,-7.053309e+07,-6.184219e+01,-7.311728e+04,-1.740603e+02,1.251737e+02