In [1]:
import pandas as pd  
sales_df=pd.read_excel('sales_record.xlsx')

In [4]:
#sales_df.head() #despliega en tabla items de la hoja excel

In [6]:
#sales_df.sort_values(by=["Region","Country","Item_Type"]).head(10) #ordena segun las filas que se requiera

In [8]:
#sales_df.sort_values(by=["Region","Country","Item_Type"]).tail(10)#para los 'ultimos datos

In [3]:
import numpy as np

In [4]:
table= pd.pivot_table(sales_df,index=["Region","Country"],values=["Units_Sold","Total_Revenue","Total_Profit"],aggfunc=[np.sum])
#la tabla dinamica mediante pd.pivot_table, sales_df sera la data donde se toma
# index da las filas
# values seran las columnas
# valores de agregacion

In [7]:
#despliegue de la tabla dinamica
table.head(10)

                                            sum
                                   Total_Profit Total_Revenue Units_Sold
Region                Country
Asia                  Bangladesh      606834.72     902980.64       8263
                      Brunei          846885.00    4368316.68       6708
                      Kyrgyzstan        7828.12      19103.44        124
                      Laos            235601.16     574951.92       3732
                      Malaysia         15103.47      58471.11       6267
                      Mongolia        122819.06     400558.73       4901
                      Myanmar        1802771.70    6161257.90      14180
                      Sri Lanka      1208744.24    3039414.40       6952
                      Turkmenistan   1267258.40    5822036.20       8840
Australia and Oceania Australia       576605.12    2489933.49      12995

In [15]:
#table.loc['Asia',:] 
# #filtro de valores de la region asia donde se ubica el pais en el arreglo

In [6]:
table.index.get_level_values(0)
unique_regions= table.index.get_level_values(0).unique()
unique_contries= table.index.get_level_values(1).unique()
unique_regions

Index(['Asia', 'Australia and Oceania', 'Central America', 'Europe',
       'Middle East and North Africa', 'North America', 'Sub-Saharan Africa'],
      dtype='object', name='Region')

In [22]:
#lectura de los paises y sus sumas  
#for region in unique_regions:
#    print(table.loc[(region),])

In [30]:

writer = pd.ExcelWriter('sales_pivot_tables.xlsx')

for region in unique_regions:
    temp_df = table.loc[ (region), : ]
    temp_df.to_excel(writer, region)
#ojo en algunas vesiones se usa writer.save() o .close()
writer.close()