In [1]:
import pandas as pd

#### Load the dataset
Source: http://eforexcel.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/

In [2]:
sales_df = pd.read_excel('sales_record.xlsx')

In [3]:
sales_df.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order ID,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America,Grenada,Cereal,Online,C,2012-08-22,963881480,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,5062,651.21,524.96,3296425.02,2657347.52,639077.50

#### Myanmar has multiple line items

In [4]:
sales_df.sort_values(by = ["Region", "Country", "Item_Type"]).head(10)

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order ID,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
12,Asia,Bangladesh,Clothes,Online,L,2017-01-13,187310731,8263,109.28,35.84,902980.64,296145.92,606834.72
38,Asia,Brunei,Office Supplies,Online,L,2012-04-01,320009267,6708,651.21,524.96,4368316.68,3521431.68,846885.00
10,Asia,Kyrgyzstan,Vegetables,Online,H,2011-06-24,814711606,124,154.06,90.93,19103.44,11275.32,7828.12
77,Asia,Laos,Vegetables,Offline,C,2011-09-15,789176547,3732,154.06,90.93,574951.92,339350.76,235601.16
96,Asia,Malaysia,Fruits,Offline,L,2011-11-11,810711038,6267,9.33,6.92,58471.11,43367.64,15103.47
14,Asia,Mongolia,Personal Care,Offline,C,2014-02-19,832401311,4901,81.73,56.67,400558.73,277739.67,122819.06
44,Asia,Myanmar,Clothes,Online,H,2015-11-14,223359620,5930,109.28,35.84,648030.40,212531.20,435499.20
33,Asia,Myanmar,Household,Offline,H,2015-01-16,177713572,8250,668.27,502.54,5513227.50,4145955.00,1367272.50
16,Asia,Sri Lanka,Cosmetics,Offline,M,2016-11-19,419123971,6952,437.20,263.33,3039414.40,1830670.16,1208744.24
18,Asia,Turkmenistan,Household,Offline,L,2010-12-30,441619336,3830,668.27,502.54,2559474.10,1924728.20,634745.90

#### Sierra Leone and Gambia have multiple line items

In [5]:
sales_df.sort_values(by = ["Region", "Country", "Item_Type"]).tail(10)

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order ID,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,2014-04-18,616607081,6593,205.70,117.11,1356180.10,772106.23,584073.87
53,Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,M,2011-11-26,441888415,3457,651.21,524.96,2251232.97,1814786.72,436446.25
90,Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,H,2016-12-06,621386563,948,651.21,524.96,617347.08,497662.08,119685.00
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-01,728815257,1485,154.06,90.93,228779.10,135031.05,93748.05
31,Sub-Saharan Africa,South Sudan,Personal Care,Offline,C,2013-12-29,406502997,2125,81.73,56.67,173676.25,120423.75,53252.50
87,Sub-Saharan Africa,The Gambia,Baby Food,Offline,M,2014-02-03,494747245,5559,255.28,159.42,1419101.52,886215.78,532885.74
42,Sub-Saharan Africa,The Gambia,Cereal,Offline,H,2012-06-07,994022214,2117,205.70,117.11,435466.90,247921.87,187545.03
29,Sub-Saharan Africa,The Gambia,Household,Offline,L,2012-05-26,886494815,2370,668.27,502.54,1583799.90,1191019.80,392780.10
37,Sub-Saharan Africa,The Gambia,Meat,Online,M,2017-01-14,825304400,4767,421.89,364.69,2011149.63,1738477.23,272672.40
83,Sub-Saharan Africa,Zambia,Snacks,Online,L,2011-01-04,122583663,4085,152.58,97.44,623289.30,398042.40,225246.90

In [6]:
import numpy as np

In [7]:
table = pd.pivot_table(sales_df, 
                       index=["Region", "Country"],
                       values=["Units_Sold","Total_Revenue", "Total_Profit"],
                       aggfunc=[np.sum])

table.head(10)

                                            sum
                                   Total_Profit Total_Revenue Units_Sold
Region                Country
Asia                  Bangladesh      606834.72     902980.64       8263
                      Brunei          846885.00    4368316.68       6708
                      Kyrgyzstan        7828.12      19103.44        124
                      Laos            235601.16     574951.92       3732
                      Malaysia         15103.47      58471.11       6267
                      Mongolia        122819.06     400558.73       4901
                      Myanmar        1802771.70    6161257.90      14180
                      Sri Lanka      1208744.24    3039414.40       6952
                      Turkmenistan   1267258.40    5822036.20       8840
Australia and Oceania Australia       576605.12    2489933.49      12995

### Printing all the columns for the row index  `Asia`

In [8]:
table.loc['Asia', : ]

                      sum
             Total_Profit Total_Revenue Units_Sold
Country
Bangladesh      606834.72     902980.64       8263
Brunei          846885.00    4368316.68       6708
Kyrgyzstan        7828.12      19103.44        124
Laos            235601.16     574951.92       3732
Malaysia         15103.47      58471.11       6267
Mongolia        122819.06     400558.73       4901
Myanmar        1802771.70    6161257.90      14180
Sri Lanka      1208744.24    3039414.40       6952
Turkmenistan   1267258.40    5822036.20       8840

### Printing all the columns for the index `Asia` and sub index `Myanmar`

In [9]:
table.loc[('Asia','Myanmar'),  : ]

sum  Total_Profit     1802771.7
     Total_Revenue    6161257.9
     Units_Sold         14180.0
Name: (Asia, Myanmar), dtype: float64

In [10]:
table.index.get_level_values(0)

Index(['Asia', 'Asia', 'Asia', 'Asia', 'Asia', 'Asia', 'Asia', 'Asia', 'Asia',
       'Australia and Oceania', 'Australia and Oceania',
       'Australia and Oceania', 'Australia and Oceania',
       'Australia and Oceania', 'Australia and Oceania',
       'Australia and Oceania', 'Australia and Oceania',
       'Australia and Oceania', 'Central America', 'Central America',
       'Central America', 'Central America', 'Central America',
       'Central America', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe',
       'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe',
       'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe',
       'Middle East and North Africa', 'Middle East and North Africa',
       'Middle East and North Africa', 'Middle East and North Africa',
       'Middle East and North Africa', 'Middle East and North Africa',
       'Middle East and North Africa', 'Middle East and North Africa',
       'North America', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa'],
      dtype='object', name='Region')

In [11]:
unique_regions = table.index.get_level_values(0).unique()

unique_regions

Index(['Asia', 'Australia and Oceania', 'Central America', 'Europe',
       'Middle East and North Africa', 'North America', 'Sub-Saharan Africa'],
      dtype='object', name='Region')

In [12]:
unique_countries = table.index.get_level_values(1).unique()

unique_countries

Index(['Bangladesh', 'Brunei', 'Kyrgyzstan', 'Laos', 'Malaysia', 'Mongolia',
       'Myanmar', 'Sri Lanka', 'Turkmenistan', 'Australia', 'East Timor',
       'Federated States of Micronesia', 'Fiji', 'Kiribati', 'New Zealand',
       'Samoa', 'Solomon Islands', 'Tuvalu', 'Belize', 'Costa Rica', 'Grenada',
       'Haiti', 'Honduras', 'Nicaragua', 'Albania', 'Austria', 'Bulgaria',
       'France', 'Iceland', 'Lithuania', 'Macedonia', 'Moldova', 'Monaco',
       'Norway', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Slovakia',
       'Slovenia', 'Spain', 'Switzerland', 'United Kingdom', 'Azerbaijan',
       'Iran', 'Kuwait', 'Lebanon', 'Libya', 'Pakistan', 'Saudi Arabia',
       'Syria', 'Mexico', 'Angola', 'Burkina Faso', 'Cameroon', 'Cape Verde',
       'Comoros', 'Cote d'Ivoire', 'Democratic Republic of the Congo',
       'Djibouti', 'Gabon', 'Kenya', 'Lesotho', 'Madagascar', 'Mali',
       'Mauritania', 'Mozambique', 'Niger', 'Republic of the Congo', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Sierra Leone', 'South Sudan',
       'The Gambia', 'Zambia'],
      dtype='object', name='Country')

In [13]:
for region in unique_regions:
    print(table.loc[ (region), : ])

                      sum
             Total_Profit Total_Revenue Units_Sold
Country
Bangladesh      606834.72     902980.64       8263
Brunei          846885.00    4368316.68       6708
Kyrgyzstan        7828.12      19103.44        124
Laos            235601.16     574951.92       3732
Malaysia         15103.47      58471.11       6267
Mongolia        122819.06     400558.73       4901
Myanmar        1802771.70    6161257.90      14180
Sri Lanka      1208744.24    3039414.40       6952
Turkmenistan   1267258.40    5822036.20       8840
                                        sum
                               Total_Profit Total_Revenue Units_Sold
Country
Australia                         576605.12    2489933.49      12995
East Timor                        337937.60    2492526.12       5908
Federated States of Micronesia    146875.14     445033.55       9379
Fiji                              727423.20    1082418.40       9905
Kiribati                           13009.18      50363.34       5398
New Zealand                         5270.67      20404.71       2187
Samoa                            1678540.98    4220728.80       9654
Solomon Islands                   285087.64     759202.72       2974
Tuvalu                            951410.50    2533654.00       9925
                    sum
           Total_Profit Total_Revenue Units_Sold
Country
Belize        403773.12     600821.44       5498
Costa Rica    160609.54     523807.57       6409
Grenada       248406.36     576782.80       2804
Haiti         296448.35     745426.00       1705
Honduras     1609947.52    6336545.48      11199
Nicaragua     127722.96     387002.20       8156
                        sum
               Total_Profit Total_Revenue Units_Sold
Country
Albania           166635.36     247956.32       2269
Austria           495007.89    1244708.40       2847
Bulgaria          626223.87    2779199.71       5660
France            315574.05     793518.00       1815
Iceland          1541705.29    3876652.40       8867
Lithuania        1046233.75    5396577.27       8287
Macedonia         575916.48     856973.76       7842
Moldova           127054.20     414371.10       5070
Monaco            825738.04    2198981.92       8614
Norway            794398.84    2144969.80      12574
Portugal          122029.78     324971.44       1273
Romania          1375311.70    3458252.00       7910
Russia            224598.75    1158502.59       1779
San Marino        455335.00    1212580.00       4750
Slovakia           10795.23      26344.26        171
Slovenia           72975.60     221117.00       4660
Spain             747939.49    3015902.51       4513
Switzerland      1512729.45    3808901.49       8934
United Kingdom     46735.86     188452.14        282
                      sum
             Total_Profit Total_Revenue Units_Sold
Country
Azerbaijan     1512926.83    4478800.21       9255
Iran           1128242.43    2836990.80       6489
Kuwait            1258.02       4870.26        522
Lebanon         579000.96     861563.52       7884
Libya           450780.97     674635.57       6789
Pakistan       1719922.04    4324782.40       9892
Saudi Arabia    359941.17     835759.10       4063
Syria             9119.44      35304.72       3784
                 sum
        Total_Profit Total_Revenue Units_Sold
Country
Mexico    1457942.76    5643356.55      19143
                                          sum
                                 Total_Profit Total_Revenue Units_Sold
Country
Angola                              693911.51    2798046.49       4187
Burkina Faso                        510216.66    1245112.92       8082
Cameroon                            781681.30    3851030.28      10948
Cape Verde                          306097.92     455479.04       4168
Comoros                              85223.58     197883.40        962
Cote d'Ivoire                       255718.08     380512.96       3482
Democratic Republic of the Congo     89904.06     272410.45       5741
Djibouti                           2425317.87    6052890.86      23198
Gabon                               216919.36     707454.88       8656
Kenya                               407630.41     994765.42       6457
Lesotho                              23150.46      89623.98       9606
Madagascar                          539196.48     802333.76       7342
Mali                                 79245.74     151359.90       6710
Mauritania                          159832.50     824431.86       1266
Mozambique                          889472.91    3586605.09       5367
Niger                                75555.90     246415.95       3015
Republic of the Congo               152114.20     496101.10       6070
Rwanda                             1417493.49    5253769.42       9539
Sao Tome and Principe               176193.13     565780.92      24568
Senegal                             584073.87    1356180.10       6593
Sierra Leone                        649879.30    3097359.15       5890
South Sudan                          53252.50     173676.25       2125
The Gambia                         1385883.27    5449517.95      14813
Zambia                              225246.90     623289.30       4085

In [15]:
writer = pd.ExcelWriter('sales_pivot_tables.xlsx')

for region in unique_regions:
    temp_df = table.loc[ (region), : ]
    temp_df.to_excel(writer, region)

writer.save()

AttributeError: 'OpenpyxlWriter' object has no attribute 'save'

### `Stesps to do in GUI:` 
* Click on the file that is created
* Drag the name tabs
* Click on the bottom where for each of the regions one separate worksheet has been created

### `Steps to do in GUI`:

* Open the xlsx file `sales_record.xlsx`

* Select on insert on the top

* Select on the `recomended pivot table`

* Select each of the recomended pivot table

* Show that the pivot table we have made from pandas is not included there

* After that selct the `pivot table` option

* Select On pivot table after that

* We can see on window here, Don't change anything click on `Ok`

* Drag the region column in filter

* Drag the `country` and then `item_type` to the `rows`

* Drag the `total item` and `total profit` to the `values` 

* On the top in the filter option select the different regions and we can generate sam results as pandas piot table