In [1]:
import pandas as pd
import sys

In [3]:
print("py:" +sys.version)
print("pandas:" +pd.__version__)

py:3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)]
pandas:2.0.2

In [4]:
data =['Sunday','Monday','Tuesday','Wednsday','Thursay','Friday','Saturday']

In [6]:
week = pd.Series(data)
week

0      Sunday
1      Monday
2     Tuesday
3    Wednsday
4     Thursay
5      Friday
6    Saturday
dtype: object

In [7]:
import numpy as np

In [11]:
sq_numb=np.array([0,1,4,9,16,25,36,49,64,81,100,121,144,169])
sq_numb

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144,
       169])

In [10]:
sq_series = pd.Series(sq_numb)
sq_series

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
dtype: int32

In [12]:
emp_flds=['F_name','L_name','Emp_Id','Dep']

In [13]:
emp_data=['Susi','Sch','2258788','Accounting',]

In [14]:
emp_series=pd.Series(index=emp_flds,data=emp_data)
emp_series

F_name          Susi
L_name           Sch
Emp_Id       2258788
Dep       Accounting
dtype: object

In [15]:
country_captitals_dict = {'Afghanistan' : 'Kabul',
                          'Australia' : 'Canberra',
                          'Bangladesh' : 'Dhaka',
                          'China' : 'Beijing',
                          'France' : 'Paris',
                          'India' : 'New Delhi',
                          'Italy' : 'Rome',
                          'USA' : 'Washington D.C.'
                         }

In [17]:
country_captitals_s=pd.Series(country_captitals_dict)
country_captitals_s

Afghanistan              Kabul
Australia             Canberra
Bangladesh               Dhaka
China                  Beijing
France                   Paris
India                New Delhi
Italy                     Rome
USA            Washington D.C.
dtype: object

In [22]:
print(country_captitals_s.values)
print(type(country_captitals_s.values))

['Kabul' 'Canberra' 'Dhaka' 'Beijing' 'Paris' 'New Delhi' 'Rome'
 'Washington D.C.']
<class 'numpy.ndarray'>

In [21]:
country_captitals_s.index

Index(['Afghanistan', 'Australia', 'Bangladesh', 'China', 'France', 'India',
       'Italy', 'USA'],
      dtype='object')

In [24]:
country_captitals_s[0]

'Kabul'

In [25]:
country_captitals_s[1:5]

Australia     Canberra
Bangladesh       Dhaka
China          Beijing
France           Paris
dtype: object

In [26]:
country_captitals_s['China']

'Beijing'

In [28]:
country_captitals_s[['Afghanistan','France', 'India','USA']]

Afghanistan              Kabul
France                   Paris
India                New Delhi
USA            Washington D.C.
dtype: object