In [1]:
import numpy as np

In [2]:
tech_companies=np.array([('IBM','Apple','Intel','Dell','MS'),('New Y','California','California','Texas','Washington')])

In [3]:
tech_companies.shape

(2, 5)

In [4]:
#similar a flatten
tech_companies.ravel()

array(['IBM', 'Apple', 'Intel', 'Dell', 'MS', 'New Y', 'California',
       'California', 'Texas', 'Washington'], dtype='<U10')

In [5]:
#transponer
tech_companies.T

array([['IBM', 'New Y'],
       ['Apple', 'California'],
       ['Intel', 'California'],
       ['Dell', 'Texas'],
       ['MS', 'Washington']], dtype='<U10')

In [6]:
tech_companies.T.ravel()

array(['IBM', 'New Y', 'Apple', 'California', 'Intel', 'California',
       'Dell', 'Texas', 'MS', 'Washington'], dtype='<U10')

In [8]:
tech_companies.shape

(2, 5)

In [9]:
tech_companies.reshape(5,2)

array([['IBM', 'Apple'],
       ['Intel', 'Dell'],
       ['MS', 'New Y'],
       ['California', 'California'],
       ['Texas', 'Washington']], dtype='<U10')

In [11]:
#3filas 6 columnas
np.arange(18).reshape(3,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17]])

In [12]:
companias=np.array(['IBM','Apple','Intel','Sony','MS','HP','Hitachi','Panasonic'])

In [15]:
#acomoda segun el numero de filas
companias.reshape(-1,4)

array([['IBM', 'Apple', 'Intel', 'Sony'],
       ['MS', 'HP', 'Hitachi', 'Panasonic']], dtype='<U9')

In [16]:
#acomoda segun el numero de columnas
companias.reshape(4,-1)

array([['IBM', 'Apple'],
       ['Intel', 'Sony'],
       ['MS', 'HP'],
       ['Hitachi', 'Panasonic']], dtype='<U9')