In [1]:
import pandas as pd
import sys
import sqlite3

In [2]:
#coneccion con sqllitle
connection = sqlite3.connect('datasets/EmpData.db')

In [3]:
cursor = connection.cursor()

In [4]:
emp_table = """ CREATE TABLE Employees(
                                       ID_No VARCHAR(10) PRIMARY KEY,
                                       F_Name VARCHAR(12),
                                       L_Name VARCHAR(12),
                                       Deptt VARCHAR(15),
                                       Gender CHAR(10),
                                       City VARCHAR(40)
                                     );"""

In [5]:
cursor.execute(emp_table)

In [7]:
insert_emp = """Insert into Employees values ('ID_1','Xuan','Ping','Sales','Female','Beijing')"""
cursor.execute(insert_emp)

In [8]:
insert_emp = """Insert into Employees values ('ID_2','Sucie','Scs','Procedures','Female','Munich')"""
cursor.execute(insert_emp)

In [9]:
insert_emp = """Insert into Employees values ('ID_3','Dv','Lenn','HR','Male','Austin')"""
cursor.execute(insert_emp)

In [11]:
connection.commit()

In [12]:
cursor.execute("Select * from Employees")

In [13]:
emp_data =cursor.fetchall()
emp_data

[('ID_1', 'Xuan', 'Ping', 'Sales', 'Female', 'Beijing'),
 ('ID_2', 'Sucie', 'Scs', 'Procedures', 'Female', 'Munich'),
 ('ID_3', 'Dv', 'Lenn', 'HR', 'Male', 'Austin')]

In [14]:
employee_df = pd.DataFrame(data = list (emp_data),
                           columns = ['ID', 
                                      'FirstName', 
                                      'LastName', 
                                      'Department', 
                                      'Gender', 
                                      'City'])

employee_df

     ID FirstName LastName  Department  Gender     City
0  ID_1      Xuan     Ping       Sales  Female  Beijing
1  ID_2     Sucie      Scs  Procedures  Female   Munich
2  ID_3        Dv     Lenn          HR    Male   Austin